@use 'constants' as *;
@use 'sass:math';

@function fluid($max: 100, $min: 10, $isEndOfLaptop: false) {
  $maxViewportWith: $container-desktop-width;
  $minViewportWith: 390;

  @if ($isEndOfLaptop) {
    $minViewportWith: $container-laptop-width;
  }

  $maxSize: math.div($max, 16);
  $minSize: math.div($min, 16);
  $maxWidth: math.div($maxViewportWith, 16);
  $minWidth: math.div($minViewportWith, 16);

  $slope: math.div(($maxSize - $minSize), ($maxWidth - $minWidth));
  $yAxisIntersections: -$minWidth * $slope + $minSize;

  @return clamp(
    #{$minSize * 1rem},
    #{$yAxisIntersections * 1rem} + #{$slope * 100vw},
    #{$maxSize * 1rem}
  );
}

@function fluid-to-laptop($max: 100, $min: 10) {
  @return fluid($max, $min, true);
}
