.badge {
  @include flex-center(true);

  column-gap: 2px;
  border: var(--border);
  border-radius: 50px;
  padding: 6px 10px;
  font-weight: 500;
  font-size: fluid-to-laptop(14, 12);
  line-height: 1;
  white-space: nowrap;
  color: var(--color-gray-60);
  background-color: var(--color-black-08);

  @include mobile {
    padding-inline: 8px;
  }

  &--accent {
    border: none;
    border-radius: var(--border-radius-xxs);
    color: var(--color-white);
    background-color: var(--color-red-45);

    @include laptop {
      border-radius: var(--border-radius-xxxs);
    }
  }

  &--big {
    padding: fluid-to-laptop(10, 8);
    font-weight: 600;
    font-size: fluid-to-laptop(16, 12);
  }

  &--with-icon {
    padding-inline: 6px 10px;

    @include mobile {
      padding-inline: 4px 8px;
    }
  }

  &__icon {
    &.icon {
      --iconSize: #{fluid-to-laptop(24, 20)};
    }
  }
}
