.burger-button {
  @include flex-center(true);
  @include square(51px);

  border: var(--border-width-m) solid var(--color-black-15);
  border-radius: var(--border-radius-xs);
  padding: 0;
  background-color: var(--color-black-10);

  @include hover {
    border-color: transparent;
    background-color: var(--color-red-60);
  }

  &.is-active {
    .burger-button__line {
      stroke-dasharray: 90 207;
      stroke-dashoffset: -134;

      &--2 {
        stroke-dasharray: 1 60;
        stroke-dashoffset: -30;
      }
    }
  }

  &:not(.is-active) .burger-button__line--3 {
    stroke-dasharray: 30 207;
    stroke-dashoffset: -30;
  }

  &__line {
    fill: none;
    stroke: var(--color-white);
    stroke-dasharray: 60 207;
    stroke-linecap: round;
    stroke-width: 6;
    transition: stroke-dasharray var(--transition-duration-longer) cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset var(--transition-duration-longer) cubic-bezier(0.4, 0, 0.2, 1);

    &--2 {
      stroke-dasharray: 60 60;
    }
  }
}
