.ratings {
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: fluid-to-laptop(20, 16);
  }

  &__item {
    display: grid;
    border: var(--border);
    border-radius: var(--border-radius-s);
    padding: fluid(16, 12);
    background-color: var(--color-black-08);
    row-gap: 4px;

    @include mobile {
      row-gap: 2px;
    }
  }

  &__title {
    @include fluid-text(20, 14);

    font-weight: 600;
    line-height: 1.5;
    color: var(--color-white);
  }
}
