.category-card {
  --categoryCardImagesGradientOpacity: 1;

  display: flex;
  flex-direction: column;
  border: var(--border);
  border-radius: var(--border-radius-l);
  padding: fluid(30, 20);
  background-color: var(--color-black-10);

  @include laptop {
    border-radius: var(--border-radius-m);
  }

  @include hover {
    --categoryCardImagesGradientOpacity: 0;

    border-color: currentcolor;
    color: var(--color-white);
  }

  &:focus-visible {
    outline-offset: -2px;
  }

  &__images {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    user-select: none;
    gap: 5px;

    &::after {
      @include abs-cover;

      content: '';
      background-image: linear-gradient(180deg, rgba(26, 26, 26, 0.00) 0%, var(--color-black-10) 101.79%);
      opacity: var(--categoryCardImagesGradientOpacity);
      transition-duration: var(--transition-duration);
    }
  }

  &__image {
    border-radius: var(--border-radius-m);
    width: 100%;
    height: fluid(124, 68);
    object-fit: cover;

    @include laptop {
      border-radius: var(--border-radius-xs);
    }
  }

  &__body {
    display: flex;
    column-gap: 10px;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-weight: 600;
    font-size: inherit;
    color: var(--color-white);
  }

  &__icon {
    &.icon {
      --iconSize: #{fluid(30,20)}
    }
  }
}
