.collections {
  --collectionGroupPadding: #{fluid-to-laptop(50, 40)};

  display: flex;
  flex-direction: column;
  padding-block: var(--section-padding-y);
  row-gap: 50px;

  &.tabs {
    --tabsBodyRowGap: #{fluid-to-laptop(170, 138)};
  }

  &__group {
    display: grid;
    row-gap: fluid(100, 75);

    @include mobile-above {
      position: relative;
      border: var(--border);
      border-radius: var(--border-radius-l);
      padding: var(--collectionGroupPadding);
    }
  }

  &__section {
    &.section {
      padding: 0;
    }
  }

  &__name {
    position: absolute;
    left: var(--collectionGroupPadding);
    top: 0;
    border-radius: var(--border-radius-s);
    padding: fluid-to-laptop(10, 8) fluid-to-laptop(24, 20);
    font-weight: 600;
    font-size: fluid-to-laptop(20, 16);
    color: var(--color-white);
    background-color: var(--color-red-45);
    translate: 0 -50%;

    @include laptop {
      border-radius: var(--border-radius-xs);
    }
  }
}
