.movie-details {
  --movieDetailsPaddingTop: #{fluid(100, 60)};

  display: grid;
  padding-top: var(--movieDetailsPaddingTop);
  padding-bottom: var(--section-padding-y);
  gap: 20px;

  @include tablet-above {
    grid-template-columns: 1fr 32.5%;
  }

  @include tablet {
    .movie-details {
      &__panel--description {
        order: -2;
      }

      &__info {
        order: -1;
      }
    }
  }

  &__main {
    display: grid;
    row-gap: fluid-to-laptop(30, 20);

    @include tablet {
      display: contents;
    }
  }

  &__info {
    @include tablet-above {
      position: sticky;
      top: calc(var(--movieDetailsPaddingTop) + 20px);
      align-self: start;
    }
  }

  &__panel {
    display: grid;
    border: var(--border);
    border-radius: var(--border-radius-l);
    padding: fluid(50, 24);
    background-color: var(--color-black-10);
    row-gap: fluid(30, 16);

    @include laptop {
      border-radius: var(--border-radius-m);
    }

    &--large-gap-y {
      row-gap: fluid(40, 24);
    }

    &-header {
      display: flex;
      column-gap: 16px;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__groups {
    display: grid;
    row-gap: fluid(30, 20);
  }

  &__group {
    display: grid;
    row-gap: fluid-to-laptop(14, 10);
  }

  &__title,
  &__description {
    font-weight: 500;
  }

  &__title {
    display: flex;
    column-gap: 4px;
    align-items: center;
    font-size: inherit;

    .icon {
      --iconSize: #{fluid-to-laptop(24, 20)};
    }
  }

  &__description {
    color: var(--color-white);
  }

  &__year {
    @include fluid-text(20, 16);

    font-weight: 600;
    color: var(--color-white);
  }
}
