.hero {
  display: flex;
  flex-direction: column;
  padding-bottom: var(--section-padding-y);
  min-height: 100vh;
  text-align: center;

  @include mobile {
    min-height: 639px;
  }

  &__pano {
    --heroGradientColorStart: var(--color-black-08);
    --heroGradientColorEnd: rgb(20 20 20 / 0);
    --heroGradientHeight: 67.5%;
    --heroGradientTop: linear-gradient(
        to bottom,
        var(--heroGradientColorStart) 0%,
        var(--heroGradientColorEnd) 100%
      )
      50% 0 / 100% var(--heroGradientHeight);
    --heroGradientBottom: linear-gradient(
        to top,
        var(--heroGradientColorStart) 0%,
        var(--heroGradientColorEnd) 100%
      )
      50% 101% / 100% var(--heroGradientHeight);

    @include flex-center;

    flex-grow: 1;
    padding-top: fluid(195, 150);
    padding-bottom: fluid(131, 50);
    background:
      var(--heroGradientTop),
      var(--heroGradientBottom),
      url('@/assets/images/hero/bg.png') 50% / cover;
    background-repeat: no-repeat;
  }

  &__body {
    padding-bottom: fluid(50, 20);
  }

  &__play-button {
    @include square(fluid(470, 200));

    border: none;
    padding: 0;
    background-color: transparent;
  }

  &__title {
    margin-top: -0.5em;
    margin-bottom: fluid-to-laptop(14, 10);
  }

  &__description {
    margin-bottom: fluid(50, 30);
  }
}
