@font-face {
  src: url('../assets/fonts/Manrope-Regular.woff2') format('woff2');
  font-family: 'Manrope';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url('../assets/fonts/Manrope-Medium.woff2') format('woff2');
  font-family: 'Manrope';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url('../assets/fonts/Manrope-SemiBold.woff2') format('woff2');
  font-family: 'Manrope';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url('../assets/fonts/Manrope-Bold.woff2') format('woff2');
  font-family: 'Manrope';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
