.page {
  &.is-lock {
    overflow: hidden;
  }

  &__body {
    @include fluid-text(18, 14);

    display: flex;
    flex-direction: column;
    font-family: var(--font-family-base);
    color: var(--color-gray-60);
    background-color: var(--color-black-08);
  }
}

main {
  flex-grow: 1;
}

.title {
  font-weight: 700;
  color: var(--color-white);
}

.title--h1 {
  @include fluid-text(58, 28);
}

.title--h2 {
  @include fluid-text(48, 24);
}

.title--h3 {
  @include fluid-text(38, 20);
}

.title--h4 {
  @include fluid-text(24, 18);

  font-weight: 600;
}

.title--h5 {
  @include fluid-text(22, 18);

  font-weight: 500;
}

.title--h6 {
  @include fluid-text(20, 16);

  font-weight: 600;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;

  @include hover {
    color: var(--color-red-45);
  }

  &[class] {
    text-decoration: none;
  }
}

:focus-visible {
  @include focus-visible;
}

:has(.swiper) {
  min-width: 0;
}

.header,
.content > *:not(:last-child),
.footer {
  display: none !important;
}
