:root {
  /* Colors */
  // Absolute colors
  --color-white: #fff;
  --color-black: #000;

  // Red shades
  --color-red-45: #e50000;
  --color-red-50: #f00;
  --color-red-55: #ff1919;
  --color-red-60: #f33;
  --color-red-80: #f99;
  --color-red-90: #fcc;
  --color-red-95: #ffe5e5;
  --color-red-99: #fffafa;

  // Black shades
  --color-black-06: #0f0f0f;
  --color-black-08: #141414;
  --color-black-10: #1a1a1a;
  --color-black-12: #1f1f1f;
  --color-black-15: #262626;
  --color-black-20: #333;
  --color-black-25: #404040;
  --color-black-30: #4c4c4c;

  // Gray shades
  --color-gray-60: #999;
  --color-gray-65: #a6a6a6;
  --color-gray-70: #b3b3b3;
  --color-gray-75: #bfbfbf;
  --color-gray-90: #e4e4e7;
  --color-gray-95: #f1f1f3;
  --color-gray-97: #f1f1f3;
  --color-gray-99: #fcfcfd;

  /* Borders */
  --border: var(--border-width-s) solid var(--color-black-15);

  // Border sizes
  --border-width-xl: 6px;
  --border-width-l: 4px;
  --border-width-m: 3px;
  --border-width-s: 1px;

  // Border radii
  --border-radius-l: 12px;
  --border-radius-m: 10px;
  --border-radius-s: 8px;
  --border-radius-xs: 6px;
  --border-radius-xxs: 5px;
  --border-radius-xxxs: 4px;

  /* Fonts */
  --font-family-base: 'Manrope', sans-serif;

  /* Container */
  --container-width: #{fluid-to-laptop(
      $container-desktop-width,
      $container-laptop-width
    )};
  --container-padding-x: 16px;

  /* Section */
  --section-padding-y: #{fluid(75, 40)};

  /* Transition */
  --transition-duration: 0.2s;
  --transition-duration-longer: 0.4s;
}
