.tabs-navigation {
  --tabsNavigationActiveButtonWidth: 0;
  --tabsNavigationActiveButtonOffsetLeft: 0;
  --tabsNavigationPadding: #{fluid-to-laptop(10, 8)};

  position: relative;
  display: var(--tabsNavigationDisplay, flex);
  border: var(--border);
  border-radius: var(--border-radius-m);
  padding: var(--tabsNavigationPadding);

  @include laptop {
    border-radius: var(--border-radius-s);
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: var(--tabsNavigationPadding);
    border-radius: var(--border-radius-m);
    width: var(--tabsNavigationActiveButtonWidth);
    height: calc(100% - var(--tabsNavigationPadding) * 2);
    background-color: var(--color-black-12);
    transition-duration: var(--transition-duration);
    translate: var(--tabsNavigationActiveButtonOffsetLeft);

    @include laptop {
      border-radius: var(--border-radius-xs);
    }
  }

  &__button {
    position: relative;
    display: inline-flex;
    flex-grow: 1;
    justify-content: center;
    border-radius: var(--border-radius-m);
    padding: fluid-to-laptop(14, 12) fluid-to-laptop(24, 20);
    transition-duration: var(--transition-duration);
    cursor: pointer;
    user-select: none;

    @include laptop {
      border-radius: var(--border-radius-xs);
    }

    @include hover {
      color: var(--color-white);
    }

    &.is-active {
      color: var(--color-white);
      pointer-events: none;
    }
  }
}
