.support {
  display: grid;
  align-items: start;
  gap: 50px fluid-to-laptop(80, 50);
  padding-block: var(--section-padding-y);

  @include mobile-above {
    grid-template-columns: 33.5% 1fr;
  }

  &__body {
    display: grid;
    row-gap: fluid(50, 30);
  }

  &__info {
    display: grid;
    row-gap: fluid-to-laptop(14, 10);
  }

  &__image {
    border: var(--border-width-xl) solid var(--color-black-15);
    border-radius: var(--border-radius-xs);
    width: fluid-to-laptop(533, 429);
    background-color: var(--color-black-06);

    @include laptop {
      border-radius: var(--border-radius-xxxs);
    }

    @include mobile-s {
      width: 100%;
    }
  }

  &__form {
    border: var(--border);
    border-radius: var(--border-radius-l);
    background-color: var(--color-black-06);

    @include laptop {
      border-radius: var(--border-radius-m);
    }

    &-wrap {
      display: grid;
      padding: fluid(50, 24);
      gap: fluid(50, 20) fluid-to-laptop(50, 20);

      @include mobile-s-above {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    &-cell {
      &--wide {
        grid-column: -1 / 1;
      }

      &--actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        @include mobile-s {
          flex-direction: column;
          align-items: stretch;
        }
      }
    }
  }
}
