.header {
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom: var(--border-width-s) solid transparent;
  width: 100%;
  animation-name: scrolling-header;
  animation-fill-mode: both;
  animation-range: 0 100px;
  animation-timeline: scroll();
  padding-block: fluid(22, 14);

  &__inner {
    display: flex;
    column-gap: 16px;
    align-items: center;
    justify-content: space-between;
  }

  &__overlay-menu-dialog {
    position: fixed;
    inset: 0;
    flex-direction: column-reverse;
    justify-content: start;
    border: none;
    padding: var(--container-padding-x);
    width: 100%;
    height: 100%;
    background-color: var(--color-black-20);
    transition-duration: var(--transition-duration);
    row-gap: 16px;
    transition-behavior: allow-discrete;

    @include tablet-above {
      display: contents;
    }

    @mixin starting-styles {
      opacity: 0;
      translate: 50%;
    }

    &[open] {
      display: flex;

      @starting-style {
        @include starting-styles
      }
    }

    &:not([open]) {
      @include starting-styles
    }
  }

  &__menu {
    border-radius: var(--border-radius-l);

    @include laptop {
      outline-width: var(--border-width-m);
      border-radius: var(--border-radius-m);
    }

    @include tablet-above {
      outline: var(--border-width-l) solid var(--color-black-12);
      padding: fluid-to-laptop(10, 8);
      background-color: var(--color-black-06);
    }

    @include tablet {
      display: flex;
      justify-content: center;
      overflow-y: auto;
      border-radius: 0;
      height: 100%;
    }

    &-list {
      display: flex;
      column-gap: 6px;
      align-items: center;

      @include tablet {
        flex-direction: column;
        margin-block: auto;
        row-gap: 16px;
      }
    }

    &-link {
      border-radius: var(--border-radius-s);
      padding: fluid-to-laptop(14, 12) fluid-to-laptop(24, 20);
      color: var(--color-gray-75);

      @include tablet {
        font-size: 20px;
      }

      @include hover {
        color: var(--color-white);
        background-color: var(--color-red-45);
      }

      &.is-active {
        font-weight: 500;
        color: var(--color-white);
        background-color: var(--color-black-10);
        pointer-events: none;
      }
    }
  }

  &__actions {
    display: flex;
    column-gap: 10px;
    align-items: center;
  }

  &__burger-button {
    position: relative;
  }

  @keyframes scrolling-header {
    to {
      border-color: var(--color-black-15);
      background-color: var(--color-black-08);
      padding-block: 10px;
    }
  }
}
