.banner {
  padding-block: var(--section-padding-y);

  &__inner {
    display: flex;
    column-gap: 100px;
    align-items: center;
    justify-content: space-between;
    border: var(--border);
    border-radius: var(--border-radius-l);
    padding: fluid(100, 50) fluid(80, 30);
    background: linear-gradient(90deg, var(--color-black-06) 2.42%, rgba(20, 15, 15, 0.97) 25.46%, rgba(34, 14, 14, 0.91) 46.72%, rgba(229, 0, 0, 0.00) 168.98%),
    url('../../assets/images/Banner/bg.png') center/cover no-repeat;

    @include tablet {
      flex-direction: column;
      text-align: center;
      row-gap: 50px;
    }
    
    @include mobile-s {
      background: url('../../assets/images/Banner/bg_mobile.png');
    }
  }

  &__body {
    display: grid;
    row-gap: fluid-to-laptop(14, 10);
  }
}
